
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo:rgb(50, 71, 63);
    --cor-hover:rgb(19, 122, 83);
    --cor-primaria:rgb(195, 219, 210);
}
.dp-menu{
    margin-bottom: 10px;
}
.dp-menu ul{
    list-style-type: none;
    padding:  0;

}
.dp-menu ul{
    width: 100%;
    background-color: var(--cor-fundo);


}
   
.dp-menu ul li{
    display: inline;
    position:relative;
}

.dp-menu ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: backgroud .3s ;
   
}
.dp-menu ul li a:hover{
    background-color: var(--cor-hover);
   
}
/* Sub Menu*/
.dp-menu ul ul{
    display: none ;
    left: 0;
    position: absolute;
   
}

.dp-menu ul li:hover ul{
    display: block ;
    

}
.dp-menu ul ul {
    width: 150px;
    
}
.dp-menu ul ul li a {
    display: block;

}
#ad{
    color: var(--cor-hover);
    text-align:center;
    margin: 20px;
}
#ad2{
    color: var(--cor-hover);
    text-align:center;
}

.pr{
    color: white;
    
}

#tex{
    display: block;
    
}
.hearder{
    text-align: center;
    
}

h1{
    text-align: center;
}


.teste09{

    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 1000px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    left: 50px;
    top: 200px;
    border-radius: 10px;
   
}

.produtoBody{
    border-radius: 10px;
    margin-top: 10px;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.2);
}
/* .produtoBody:hover{
    border-radius: 10px;
    margin-top: 10px;
    width: 250px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
} */


/*  Ajeitaqndo o container que mostra os produtos, incluindo fot, e as informações */

.fotoProdutos{
    max-width:250px;
    max-height: 250px;
}
.infoProduto{
    color: white;
    display: none;
    flex-direction: row;
    position: relative;
    justify-content: center;
    
}


.valor{
    margin-left: 10px;
}

@media screen and (min-width: 1000px){
    .teste09{
        text-align: center;
        display: flex;
        position:absolute;
        margin: auto;
        width: 800px;
        height: 1000px;
        background-color: rgba(0, 0, 0, 0.1);
        justify-content: space-around;
        border-radius: 20px;
         margin-left: 9%; 
        margin-top: 30px;
        left: 20%;

}
}

/*  tratando a segunda tela */

#telaSegunda{
    display: none;
    width: 700px;
    height: 500px;
    background-color: blue;
    position: absolute;
   align-items: center;
   border-radius: 10px;
}
.nomeSegunda{
position: absolute;
right: 15%;
top: 10%;
font-size: xx-large;
}
.valorSegunda{
    position: absolute;
right: 15%;
top: 40%;
font-size: xx-large;

}
#btnAdicionar{
    position: absolute;
    right: 4%;
   bottom: 5%;
    font-size: xx-large;
}
#quantidade{
    width: 120px;
    position: absolute;
    right: 34%;
   bottom: 5%;
    font-size: xx-large;
}
#valorTotal{
    width: 200px;
    position: absolute;
    right: 4%;
   bottom: 15%;
    font-size: xx-large;
}
#btnFechar{
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: x-large;
    

}


